Source: workspaces-theme
Section: gnome
Priority: optional
Maintainer: Herculean Inc <hello@hercules.dev>
Uploaders: Herculean Inc <hello@hercules.dev>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.4.0.0
Homepage: https://github.com/herculean-inc/workspaces-theme

Package: workspaces-theme
Architecture: all
Depends: fonts-roboto, workspaces-gnome-shell-theme, workspaces-gtk-theme, papirus-icon-theme, workspaces-sound-theme
Conflicts: system76-poppaces
Description: Workspaces Theme Metapackage
